.question-main {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    gap: 20px
}

.wide-element {
    width: 100%;
}

.question-label {
    font-size: 50px;
}

.question-answer {
    width: 100%;
}

.question-button {
    margin-top: 20px;
    width: 400px;
    font-size:30px;
    padding:10px 20px;
}

.wrong-answer {
    font-weight: 600;
    color: red;
}

.right-answer {
    font-weight: 600;
    color: green;
}

.splitter {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question-info {
    color: gray;
}

.question-answer-checkbox {
    width: 30px;
    height: 20px;
    margin-top: 20px;
}

.question-answer-radio {
    width: 30px;
    height: 20px;
    margin-top: 20px;
}

.options-grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.option {
    width: 50%;
}

.header {
    margin: auto;
    width: 800px;
    display: flex;
    justify-content: space-between;
}

.header-href {
    text-decoration: none;
    color: blue;
    font-size: 30px;
    font-weight: bold;
}
